/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2018, 02:11:47 AM
    Author     : chars
*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
footer {
    background-color: lightblue;  
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    background-color: lightblue;  
    color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    font-style: oblique;
    font-size: large;
}
#main-header a {
    color: white;
}

h2 {
    font: 200 90px/0.8 'Cookie', Helvetica, sans-serif, oblique;
    color: darkslategray;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

